.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid #545151;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    height: auto; /* Remove fixed height */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select,
  input[type='text'],
  input[type='file'] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%; /* Set input, select, and file input width to 100% */
  }
  
  button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%; /* Set button width to 100% */
    margin-bottom: 15px; /* Add margin to separate buttons */
  }
  
  /* Style for the "Add More Information" button */
  .actions .btn-secondary {
    background-color: #ccc;
    color: #000;
  }
  
  /* Hover effect for the "Add More Information" button */
  .actions .btn-secondary:hover {
    background-color: #999;
  }
  
  .checkbox-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust the margin as needed */
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  /* Style for the dropdown select */
  #section {
    width: 100%;
    padding: 10px;
  }
  
  /* Style for the file input */
  #pdfFile {
    width: 100%;
    padding: 10px;
    margin-top: 5px; /* Add some space below the file input */
  }
