.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 100%; /* Set input and select width to 100% */
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 100%; /* Set button width to 100% */
    margin-bottom: 15px; /* Add margin to separate buttons */
}

/* Style for the "Add More Information" button */
.actions .btn-secondary {
    background-color: #ccc;
    color: #000;
}

/* Hover effect for the "Add More Information" button */
.actions .btn-secondary:hover {
    background-color: #999;
}
