/* AdminDashboardPage.css */

.dashboard-page {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.option {
  border: 5px solid #000;
  padding: 20px;
  text-align: center;
  background-color: #d3d3d3;
  color: #00008b;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
  border-radius: 10%;
  height: 150px;
}

.option.collapsed {
  text-align: center;
  background-color: #d3d3d3;
  color: #00008b;
  height: 80px;
}

.option.collapsed i.material-icons {
  font-size: 24px;
}

.option:hover {
  background-color: #90ee90;
}

.option.collapsed:hover {
  background-color: #90ee90;
}

i.material-icons {
  color: #00008b;
  font-size: 40px;
}
